.Header-Container{
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: grey;
    margin-top: 0;
}
.Main-Container{
    margin-top: 0px;
    display: flex;
    height: 100%;

}
.Table-Container{
    flex: 0.3;
    background-color: darkgrey;
    height: 100%;
}
.Glossary-Container{
    flex: 0.7;
    background-color: red;
    height: 100%;
}
.Piece{
    margin-left: 10px;
}